
{{#partial "title"}}
{{/partial}}

{{#partial "content"}}
    <div class="col-md-1"></div>
    <div class="card col-md-10" style="margin-top: 40px">
        <p class="card-title" id="hero-text">Welcome to the hero-squad web application.</p>
        <p class="card-text" id="text-squads"> Here you have the ability to create your own custom heroes and add them to the squad of your choosing.</p>
        <a href="/squads/new" class="btn btn-outline-success col-md-6"> Create your own squad Now!!</a>
        <br>
    </div>

{{/partial}}

{{> layout.hbs}}

