{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}HERO APPLICATION.{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Aladin|Fredericka+the+Great|Kumar+One|Luckiest+Guy|Marck+Script&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="https://images.pexels.com/photos/2235130/pexels-photo-2235130.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </head>
{{/block}}
<body >

<header class="nav-bar">
    <ul class="nav nav-tabs">
        <a href="/" class="nav nav-items nav-link">Home</a>
        <a href="/squads" class="nav nav-items nav-link">Squads</a>
        <a href="/heroes" class="nav nav-items nav-link">Heroes</a>
    </ul>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/Adverse-Art.png" width="100%">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            {{#block "content"}}
            {{/block}}
        </div>
    </div>
</div>
{{#block "footer"}}
    </body>
    </html>
{{/block}}